{% extends "base.html" %}

{% block content %}

    <!-- banner -->
    <section class="banner-next">
        <img src="/static/img/about.jpg" alt="">
    </section>

    <!-- about us -->
    <section class="trip-info sacred mt-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <article>
                        <div>
                            {% if newsDetails.news_image != NULL %}
                            <img src="/media/{{newsDetails.news_image}}" alt="">
                            {% endif %}
                        </div>
                        <h1 class="text-center">{{newsDetails.news_title}}</h1>
                        <div>
                        {{newsDetails.news_desc | safe}}
                        </div>
                    </article>
                </div>
                <div class="col-lg-3">
                    <div class="height-100">
                        <div class="sticky">
                            <div class="d-flex flex-column gap-3">

                                <div class=" background-g shadow-main  border-radius-5 p-0">
                                    <div class="secondary-type-heading background-nav p-3">Buddist Practices</div>
                                    <ul class="side-nav p-0 ul-relative ">
                                        <li><a href=""> <span class="ul-absolute"><i
                                                        class="fa-solid fa-hands-praying"></i></span>Meditation </a>
                                        </li>
                                        <li><a href=""><span class="ul-absolute"><i class="fa-solid fa-bell"></i></span>
                                                Singing
                                                Bowl Therapy</a></li>

                                        <li><a href=""><span class="ul-absolute"><i
                                                        class="fa-solid fa-vihara"></i></span>Prayer
                                                & Chanting</a></li>
                                    </ul>
                                </div>

                                <div class=" background-g shadow-main border-radius-5 p-0">
                                    <div class="secondary-type-heading background-nav p-3">Why Choose us?</div>
                                    <ul class="side-nav p-0 ul-relative ">
                                        <li><a href=""><span class="ul-absolute"><i
                                                        class="fa-solid fa-handshake"></i></span>About us</a></li>
                                        <li><a href=""><span class="ul-absolute"><i
                                                        class="fa-brands fa-whatsapp"></i></span> Contact us in
                                                Whats
                                                App</a></li>
                                    </ul>
                                </div>


                                <!-- inquiry -->
                                <div class=" inquiry shadow-main border-radius-5 p-0">
                                    <div class="secondary-type-heading background-nav p-3">Need More Info?</div>
                                    <form action="" class="d-flex flex-column gap-2 background-g p-3">
                                        <input type="text" placeholder="Your Name">
                                        <input type="text" placeholder="Enter Your Email">
                                        <textarea name="" id="" placeholder="Enter your Message"></textarea>
                                        <button class="btn-1">Submit</button>
                                    </form>
                                </div>

                                <!-- follow -->
                                <div class="shadow-main border-radius-5">
                                    <div class="secondary-type-heading background-nav p-3">Follow us on</div>
                                    <div class="d-flex gap-3 align-items-center background-g p-4">
                                        <a href=""><i class="media-items fa-brands fa-facebook-f"></i></a>
                                        <a href=""><i class="media-items fa-brands fa-instagram"></i></a>
                                        <a href=""><i class="media-items fa-brands fa-whatsapp"></i></a>
                                        <a href=""><i class="media-items fa-brands fa-youtube"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>


{% endblock %}