{% extends "base.html" %}

{% block content %}

<main>

    <!-- banner -->
    {% for c in categories %}
    {% if c.sacred_slug == request.GET.category %}
    <section class="banner-next">
        <img src="/media/{{c.category_banner_img}}" loading="lazy" alt="">
        <div class="banner-content-next">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="heading-items">{{c.Main_heading}}</div>
                        <div class="dark-light">{{c.short_description | safe}}</div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    {% endif %}
    {% endfor %}
    <section class="sacred mt-5">
        <div class="container">
            <div class="row gy-3">
                <div class="col-lg-9">
                    {% for c in categories %}
                    {% if c.sacred_slug == request.GET.category %}
                    <div class="content-top">
                        <h2 class="heading-second">{{c.About}}</h2>
                        <div class="mt-1">{{c.description | safe}}</div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    <div class="sacred-sites">
                        <div class="d-flex flex-wrap justify-content-between align-items-center py-3">
                            {% for c in categories %}
                            {% if c.sacred_slug == request.GET.category %}
                            <div class="heading-items">{{c.category_name}}</div>
                            {% endif %}
                            {% endfor %}

                        </div>
                        <div class="row p-0 gy-4">
                            {% for n in sacredData %}
                            <div class="col-lg-4">
                                <article class="card half-card shadow-sm">
                                    <div class="img-part shadow-sm">
                                        <a href="{% url 'journeyDetails' n.sacred_slug %}"> <img src="/media/{{n.sacred_image}}" loading="lazy" alt=""> </a>
                                        <div class="btnn-1">{{n.sacred_days}} days</div>
                                    </div>
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="normal-heading">{{n.sacred_name}}</div>

                                        </div>

                                        <div class="content flex-all-center">
                                            <p>{{n.sacred_desc | safe}}</p>
                                        </div>

                                        <div class="d-flex justify-content-between mt-3">
                                            <div class="d-flex flex-column">
                                                <div class="from deam-thiner">From</div>
                                                <div class="price">$ {{n.sacred_price}}</div>
                                            </div>
                                            <button class="btn-1"> <a
                                                    href="{% url 'journeyDetails' n.sacred_slug %}">View
                                                    Journey</a></button>
                                        </div>
                                    </div>

                                </article>
                            </div>
                            {% empty %}
                            NO data Found
                            {% endfor %}

                        </div>

                        <nav aria-label="Page navigation example border ">
                            <ul class="pagination justify-content-center my-4">
                                {% if sacredData.has_previous %}
                                <li class="page-item">
                                    <a class="page-link"
                                        href="?category={{current_category|default:''}}&page=1">First</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link"
                                        href="?category={{current_category|default:''}}&page={{sacredData.previous_page_number}}">Previous</a>
                                </li>
                                {% endif %}
                                {% for num in sacredData.paginator.page_range %}
                                <li class="page-item {% if num == sacredData.number %}active{% endif %}"><a
                                        class="page-link"
                                        href="?category={{ current_category|default:'' }}&page={{ num }}">{{ num }}</a>
                                </li>
                                {% endfor %}
                                {% if sacredData.has_next %}
                                <li class="page-item">
                                    <a class="page-link"
                                        href="?category={{current_category|default:''}}&page={{sacredData.next_page_number}}">Next</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link"
                                        href="?category={{current_category|default:''}}&page={{sacredData.paginator.num_pages}}">Last</a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="height-100">
                        <div class="sticky">
                            <div class="d-flex flex-column gap-3">

                                <div class=" background-g shadow-main  border-radius-5 p-0">
                                    <div class="secondary-type-heading background-nav p-3">Buddist Practices</div>
                                    <ul class="side-nav p-0 ul-relative ">
                                        {% for n in categories %}
                                        <li><a href="{% url 'sacredsite' %}?category={{n.sacred_slug}}"> <span
                                                    class="ul-absolute"><i
                                                        class="fa-solid fa-hands-praying"></i></span>{{n.category_name}}
                                            </a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>

                                <div class=" background-g shadow-main border-radius-5 p-0">
                                    <div class="secondary-type-heading background-nav p-3">Start Your Journey with Us
                                        Today</div>
                                    <ul class="side-nav p-0 ul-relative ">
                                        <li><a href="{% url 'contact' %}" target="_blank"><span class="ul-absolute"><i
                                                        class="fa-solid fa-address-book"></i></span>Contact us</a></li>
                                        <li><a href="https://wa.me/{{ n.whatsapp_number }}" target="_blank"><span
                                                    class="ul-absolute"><i class="fa-brands fa-whatsapp"></i></span>
                                                Contact us in
                                                Whats
                                                App</a></li>
                                        {% for n in contactpage %}
                                        <li><a href="mailto:{{n.email}}" s target="_blank"><span class="ul-absolute"><i
                                                        class="fa-solid fa-envelope"></i></span>
                                                {{n.email}} </a></li>
                                        {% endfor %}
                                    </ul>
                                </div>


                                <!-- follow -->
                                <div class="shadow-main border-radius-5">
                                    <div class="secondary-type-heading background-nav p-3">Follow us on</div>
                                    <div class="d-flex gap-3 align-items-center background-g p-4">
                                        <a href=""><i class="media-items fa-brands fa-facebook-f"></i></a>
                                        <a href=""><i class="media-items fa-brands fa-instagram"></i></a>
                                        <a href=""><i class="media-items fa-brands fa-whatsapp"></i></a>
                                        <a href=""><i class="media-items fa-brands fa-youtube"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


</main>

{% endblock %}